<!DOCTYPE html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>board sample for firebase (Realtime Database)</title>
<script src="/public/javascripts/common.js"></script>
<script src="http://code.jquery.com/jquery-latest.min.js"></script>
</head>
<body>
    <table border="1" style="width:600px">
        <caption>board sample for firebase (Realtime Database) Read</caption>
        <colgroup>
            <col width='15%' />
            <col width='*%' />
        </colgroup>
        <tbody>
            <tr>
                <td>Writer</td>
                <td><%=row.brdwriter%></td>
            </tr>
            <tr>
                <td>Title</td>
                <td><%=row.brdtitle%></td>
            </tr>
            <tr>
                <td>Memo</td>
                <td><%=row.brdmemo%></td>
            </tr>
        </tbody>
    </table>   
    <a href="#" onclick="history.back(-1)">List</a>
    <a href="boardDelete?brdno=<%=row.brdno%>">Delete</a>
    <a href="boardForm?brdno=<%=row.brdno%>">Modify</a> 
    
    <!--
    <a href="#" role="button" title="삭제" onclick="boardAction('boardDelete?brdno=<%=row.brdno%>','Delete');">Delete★</a>
    <a href="#" role="button" title="수정" onclick="boardAction('boardForm?brdno=<%=row.brdno%>','Modify');">Modify★</a>
    -->
</body>
</html>
