<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>board sample for firebase (Firestore Database) List</title>

<%- include ("../common/include") %>

</head>
<body> 
    <!--상단 컨테이너 시작-->
    <%- include ("../common/header" , {menuType: "diary"}) %>
    <!--상단 컨테이너 끝-->
    <br>
    <div class="btnWrap" >
        <div><a href="boardForm?boardType=normal"> ♤ 파일 첨부 일기 쓰기 ♤ </a></div>
        <div><a href="boardForm?boardType=editor"> ♤ 그림 일기 쓰기 ♤ </a></div>
    </div>
    <div class="title">일기장</div>
    <div class="tableWrap">
        <table border="1" class="table">
            <caption>일기장</caption>
            <colgroup>
                <col width='8%' />
                <col width='*%' />
                <col width='15%' />
                <col width='10%' class="colNm Type" />
                <col width='15%' />
            </colgroup>
            <thead>
                <tr>
                    <th>No.</th>
                    <th>Title</th>
                    <th>Writer</th>
                    <th class="colNm Type">Type</th>
                    <th>Date</th>
                </tr>
            </thead>
            <tbody>
            <%
                for(var i=0; i<rows.length; i++) {
            %>
                <tr>
                    <!-- <td class="text-center"><%=rows.length-i%></td> -->
                    <td class="text-center"><%=i+1%></td>
                    <%
                        if(rows[i].brdType == "normal"){
                    %>
                        <td>
                            <a href='boardRead?boardType=normal&brdno=<%=rows[i].brdno%>'><%=rows[i].brdtitle%></a><!-- 일만 파일 업로드 게시판 -->
                            <% if(rows[i].newYn == "Y"){%><span class="icon new">new</span><% } %>
                            <% if(rows[i].updateYn == "Y"){%><span class="icon update">update</span><% } %>
                        </td>
                    <%
                        } else {
                    %>
                        <td>
                            <a href='boardReadQuill?brdno=<%=rows[i].brdno%>'><%=rows[i].brdtitle%></a> <!-- 에디터를 사용한 파일 업로드 게시판-->
                            <% if(rows[i].newYn == "Y"){%><span class="icon new">new</span><% } %>
                            <% if(rows[i].updateYn == "Y"){%><span class="icon update">update</span><% } %>
                        </td>
                    <%
                        }
                    %>  
                    <td class="text-center"><%=rows[i].brdwriter%></td>
                    <td class="text-center colNm Type"><%=rows[i].brdType%></td>
                    <td class="text-center"><%=rows[i].brddate%>  <%=rows[i].modidate2%></td>
                </tr>
            <%
                }
            %>
            </tbody>
        </table>
    </div>
    <div class="pagingWrap">
        <a href="boardList?type=first">First</a>&nbsp;&nbsp;
        <a href="boardList?type=prev&currentPage=<%=currentPage%>">Prev</a>&nbsp;&nbsp;
        <a href="boardList?type=next&currentPage=<%=currentPage%>">Next</a>&nbsp;&nbsp;
        <a href="boardList?type=last">Last</a>&nbsp;&nbsp;   
    </div>
</body>
</html>